CLIENT_ID=
CLIENT_SECRET=

# Env var INSTANCE_ID should be set to the ID of some instance in Sentinel Hub
# Configurator, which contains all the layers listed below it.
INSTANCE_ID=
S2L2A_LAYER_ID=
S1GRD_LAYER_ID=